body {
}
@media only screen and (min-width: 1024px)  {
    .responsiveAprendizaje {
        display: none;
    
    }
}
a {
    text-decoration:none;
    color: none;
}


.ocultar {
    display:none;
}

.carta:hover{
    background-color: brown;
}